.home {
  min-height: 100vh;
  background-color: white;
  background-image: url("../../img/shutterstock.svg");
  width: 100vw;
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.start_photo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 250px;
}
.start {
  background-color: black;
  padding: 18px 125px;
  color: white;
  font-size: 20px;
  border-radius: 8px;
  cursor: pointer;
}

.underline {
  width: 1380px;
  margin-top: 25px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.redberry {
  margin-left: 10px;
  width: 240px;
  height: 40px;
}
.images {
  margin-top: -150px;
}
.round_logo {
  margin-top: -100px;
  margin-left: 450px;
  width: 250px;
  height: 250px;
}
